:root {
    --border-color: #cfcfcf;
    --button-bg: #f7fbff;
    --button-bg-disabled: #cecece;
    --cta-bg: #008cf2;
    --button-border: #e2e2e2;
    --cart-bg: #f3f3f3;
    --text-muted: #979797;
    --text-muted-light: #e6e6e6;
    --border-radius: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 40px;
    padding-right: 40px;
}

button {
    background-color: var(--button-bg);
    color: #000000;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    border: 2px solid var(--button-border);
    border-radius: var(--border-radius);
    font-size: 1rem;
}

button:not([disabled]):hover {
    box-shadow: 0px 15px 25px -5px var(--button-border);
    transform: scale(1.01);
}

button:not([disabled]):active {
    box-shadow: 0px 4px 8px var(--button-border);
    transform: scale(1);
}

button[disabled] {
    background-color: var(--button-bg-disabled); 
    cursor: not-allowed;
    box-shadow: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.products-section {
    flex-grow: 4;
    padding-right: 60px;
}

.cart-section {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.product{
    border-bottom: 2px solid var(--border-color);
    display: flex;
    padding: 20px 0;
}

.product:first-child {
    padding-top: 0;
}

.price-container{
    display: flex;
}

.price-container div{
    padding-right: 10px;
}

.price-container .product-price-discounted{
    color: green;
    font-weight: 400;
}

.product-coupon-container select.product-coupons {
    margin-top: 20px;
    padding: 10px 5px 10px 0;
    border: none;
    font-size: 1rem;
} 

img.product-image {
    width: 175px;
 }
 
.product-image-container {
    padding-right: 30px;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
}

.product .product-name{
    font-weight: 500;
}


.button-group {
    border: 2px solid var(--button-border);
    padding: 0;
    font-size: 1.2rem;
    background-color: var(--button-bg);
    border-radius: 25px;
    height: 33px;
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-group button {
    font-size: 1.5rem;
    margin: 0px;
    padding: 4px;
    width: 30px;
    height: 30px;
}



.product-counter{
    display: flex;
}

.product-counter button{
    border: none;
    padding: 4px 10px;
    font-size: 1.2rem;
    margin: 0px 4px;
}

.product-counter .remove-item{
    border: 2px solid var(--button-border);   
    padding: 2px 10px;
    font-size: 0.75rem;
}
.product-counter .free-items{
    color: green;
    font-weight: 400;
}



.cart-summary{
    background-color: var(--cart-bg);
    border-radius: var(--border-radius);
    padding: 20px 40px;
    min-width: 300px;
}

.cart-summary h2{
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: 500;
}

.cart-summary .price-item{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.cart-summary .price-item #total{
    font-weight: bold;
    font-size: 1.2rem;
}

.cart-summary .label{
    color: var(--text-muted);
}

.cart-summary button.checkout-button{
    width: 100%;
    margin: 25px 0;
}

.cart-summary button:not([disabled]).checkout-button{
    background-color: var(--cta-bg);
    color: white;
}

.cart-summary .payment-methods{
    color: var(--text-muted);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 15px 0px 25px 0px
}

.promo-code-section{
    border-top: 2px solid var(--border-color);
    padding: 20px 0;
}

.promo-code-section label{
    font-size: 0.825rem;
    font-weight: 400;
}

.promo-code-control-container{
    display: flex;
    justify-content: space-between;

}

.promo-code-control-container input{
    padding: 10px 15px;
    border: none;
    font-size: 1rem;
    border-radius: var(--border-radius);
    width: 100%;
    margin-right: 10px;
    background-color: var(--text-muted-light);
}

input::placeholder {
    color: var(--text-muted);
}

.promo-code-control-container .input-container{
    width: 100%;
    display: inherit;
}

.promo-code-section button{
    background-color: var(--cart-bg);
}


.hidden.hidden.hidden {
    display: none;
}

.strikethrough.strikethrough.strikethrough {
    text-decoration: line-through;
}